<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <h1>Login Page</h1>
  <form method="POST" action="/login">
    <h4>Please enter your login and password.</h4>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="login" id="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <button class="btn btn-outline-primary">Login</button>
  </form>
  
  
</body>
</html>

