<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
 
  <div>
    <p> <b>Please enter your username and password into the fileds to register to our website.</b> </p>
    <form method="POST" action="/register">
      Email: 
      <input type="email" required name="email">
      Password:
      <input type="password" required name="password">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>

  
</body>
</html>